{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form %}
    {{ form_start(form) }}
    <div {{ block('widget_container_attributes') }}>
        <div class="panel-body">
            {{ form_errors(form) }}

            {% for name, child in form %}
                {% if name != 'submit' %}
                    {{- form_row(child) -}}
                {% endif %}
            {% endfor %}
        </div>

        <div class="panel-footer">
            {% if 'submit' in form %}
                {{ form_widget(form.submit) }}
            {% else %}
                <button class="btn btn-primary">Применить</button>
            {% endif %}
            <button type="reset" class="btn">Очистить</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}