{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('#details').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var headers = button.data('headers');
            var body = button.data('body');

            var modal = $(this);
            modal.find('.modal-title').text(title);
            modal.find('.modal-body #headers-data').text(headers);
            modal.find('.modal-body #body-data').text(body);
        });
    </script>
{% endblock %}

{% block title %}HTTP Log{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Filters</div>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Логи</div>
                    {% if pagination|length %}
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>URL</th>
                                <th>IP</th>
                                <th>HTTP response code</th>
                                <th>Request</th>
                                <th>Response</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in pagination %}
                                <tr>
                                    <td>{{ row.date.format('Y-m-d H:i:s') }}</td>
                                    <td><div data-toggle="tooltip" title="{{ row.url }}">{{ row.url|truncate(80) }}</div></td>
                                    <td>{{ row.ip }}</td>
                                    <td><span class="label label-info">{{ row.responseHttpCode }}</span></td>
                                    <td><a href="#" data-toggle="modal" data-target="#details" data-title="Request data" data-headers="{{ row.request.headersAsString }}" data-body="{{ row.request.body }}">show</a></td>
                                    <td><a href="#" data-toggle="modal" data-target="#details" data-title="Response data" data-headers="{{ row.response.headersAsString }}" data-body="{{ row.response.body }}">show</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(pagination) }}
                    {% else %}
                        <div class="panel-body">
                            <div class="alert alert-info">
                                По указанному запросу ничего не найдено
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            Headers
                        </div>
                        <div class="col-md-9">
                            <pre id="headers-data"></pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Body
                        </div>
                        <div class="col-md-9">
                            <textarea id="body-data" style="width: 100%;" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}